SECRET_KEY=7ah5dnhx!5s+^7#hvi4tt30_k=lkwlaim2i69(2k7)50c*=f0p
DEBUG=True

DATABASE_NAME=TCwiK2TVXho5b31d6uKW
DATABASE_USERNAME=E0iP0OgWTJbg7usHaFXC
DATABASE_PASSWORD=tGAZWq6EfRuMFfAaaEiQ
DATABASE_HOST=postgres
DATABASE_PORT=5432

SENDGRID_EMAIL_HOST=
SENDGRID_HOST_USER=
SENDGRID_KEY=
SENDGRID_PORT=

ALLOWED_HOSTS=localhost,127.0.0.1

REDIS_BROKER_URL=redis://redis:6379/0

CORS_WHITELIST=http://localhost:3000,http://127.0.0.1:3000

ADMIN_EMAIL=example@email.com
ADMIN_PASSWORD=strong46password