{% load filter %}

<p style="color:black;">Hello {{ username }},</p>

<p style="color:black;">Today's stock pick is {{stock.stock.ticker}}. You should buy this stock immediately and sell at close tonight. 
We are {{stock.confidence}}% confident that this stock will increase in price. Below is an outline of our recent picks.</p>

<table style="font-family: Arial, Helvetica, sans-serif; border-collapse: collapse; width: 100%;">
    <tr>
        <th style="border: 1px solid #ddd; padding: 8px; color: white; background-color: #04AA6D; text-align: left; padding-bottom: 12px; padding-top: 12px;">Stock</th>
        <th style="border: 1px solid #ddd; padding: 8px; color: white; background-color: #04AA6D; text-align: left; padding-bottom: 12px; padding-top: 12px;">Date</th>
        <th style="border: 1px solid #ddd; padding: 8px; color: white; background-color: #04AA6D; text-align: left; padding-bottom: 12px; padding-top: 12px;">Open</th>
        <th style="border: 1px solid #ddd; padding: 8px; color: white; background-color: #04AA6D; text-align: left; padding-bottom: 12px; padding-top: 12px;">Close</th>
        <th style="border: 1px solid #ddd; padding: 8px; color: white; background-color: #04AA6D; text-align: left; padding-bottom: 12px; padding-top: 12px;">Gain</th>
    </tr>
    {% for item in stocks %}
    {% if forloop.counter|divisibleby:2 %}
        <tr style="background-color: #f2f2f2; color:black">
            <td style="border: 1px solid #ddd; padding: 8px;">{{item.stock.ticker}}</td>
            <td style="border: 1px solid #ddd; padding: 8px;">{{item.tradeDate | date:"m/d/y"}}</td>
            <td style="border: 1px solid #ddd; padding: 8px;">{{item.openPrice | floatformat:3}}</td>
            <td style="border: 1px solid #ddd; padding: 8px;">{{item.closingPrice | floatformat:3}}</td>
            <td style="border: 1px solid #ddd; padding: 8px;">{{item.openPrice | growth:item.closingPrice}}</td>
        </tr>
    {% else %}
        <tr style="background-color: #ECECEC; color:black">
            <td style="border: 1px solid #ddd; padding: 8px;">{{item.stock.ticker}}</td>
            <td style="border: 1px solid #ddd; padding: 8px;">{{item.tradeDate | date:"m/d/y"}}</td>
            <td style="border: 1px solid #ddd; padding: 8px;">{{item.openPrice | floatformat:3}}</td>
            <td style="border: 1px solid #ddd; padding: 8px;">{{item.closingPrice | floatformat:3}}</td>
            <td style="border: 1px solid #ddd; padding: 8px;">{{item.openPrice | growth:item.closingPrice}}</td>
        </tr>
    {% endif %}

    {% endfor %}

</table>

<p style="color:black;">Sincerely,</p>

<p style="color:black;">Trading Team</p>

