{% extends "base.html" %}
{% block content %}
<div class="min-h-screen bg-gray-100 flex flex-col">
    <div class="p-10 xs:p-0 mx-auto md:w-full md:max-w-md mt-16">
      <h1 class="font-bold text-center text-2xl mb-3">Password Reset</h1>  
      <p id="message"></p>
      <div class="bg-white shadow w-full rounded-lg divide-y divide-gray-200">
        <div class="px-5 py-7">
          <label class="font-semibold text-sm text-gray-600 pb-1 block">New Password</label>
          <input type="password" id="password" class="border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full" />
          <button id="submitButton" class="transition duration-200 bg-blue-500 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block">Reset</button>
        </div>
          <div class="py-5">
          <div class="grid grid-cols-2 gap-1">
          </div>
        </div>
      </div>
    </div>
    </div>

<script>
const message = document.querySelector("#message");
let password;

function handleClick() {
  let csrf = "{{csrf_token}}";
  let url = "{% url 'password_reset:reset-password-confirm' %}";
  console.log(url)
  let data  = new FormData();
  let headers = {"X-CSRFToken": csrf};
  data.append('password', password);
  data.append('token', "{{token}}");
  data.append('csrfmiddlewaretoken', csrf);
  fetch(url, {
    method: 'post',
    body: data, 
    headers: headers
  })
  .then(response => {
    if (response.ok) {
    return response.json();
  } else {
    message.className = "text-sm text-red-500 text-center";
    message.textContent = "Password failed to reset";
  }
  })
  .then(data => {
    console.log(data)
      message.className = "text-sm text-green-500 text-center";
      message.textContent = "Password succesfully reset";
  })
  .catch((error) => {
    message.className = "text-sm text-red-500 text-center";
    message.textContent = "Password failed to reset";
});
}

document.querySelector("#submitButton").addEventListener('click',() => {
  password = document.querySelector("#password").text
  handleClick()
})

</script>
{% endblock content %}

