<p>Hello {{ username }},</p>

<p>Today's stock pick is {{stock.stock.ticker}}. You should buy this stock immediately and sell at close tonight. 
We are {{stock.confidence}}% confident that our stock will increase in price. Below is an outline of our recent picks.</p>

<table class="table-auto">
    <tr>
        <th>Stock</th>
        <th>Date</th>
        <th>Open</th>
        <th>Close</th>
    </tr>
    {% for item in stocks %}
    <tr class="bg-emerald-200">
        <td>{{item.stock.ticker}}</td>
        <td>{{item.tradeDate}}</td>
        <td>{{item.openPrice}}</td>
        <td>{{item.closingPrice}}</td>
    </tr>
    {% endfor %}

</table>

<p>Sincerely,</p>

<p>daytrader.com</p>

